@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url("base.css");
@import url("buttons.css");

p
{
    word-spacing: 5px;
}
:root
{
    --primary:#FC997C;
    --second:#ECE5C7;
    --third:#CDC2AE;
    --footer:#354259;
}

html {
    scroll-behavior: smooth;
}

main {
    min-height: calc(100vh - 138px);
}

#showcase { 
    background:
    url('../images/bgnew.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 40vh;
    width: 100%;
    position: relative;
}
.content h2
{
    text-align: center;
}
#showcase .content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background: rgba(46, 76, 109, 0.3);
    padding: 2rem;
    width: 60%;
    border-radius: 1rem;
}


#showcase h1 {
    position: absolute;
    top: 50%;
    margin: 0;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (min-width: 576px) { 
    #showcase {
        height: 50vh;
    }
}

@media (min-width: 768px) {
    #showcase {
        height: 60vh;
    }
}

@media (min-width: 992px) { 
    #showcase {
        height: 70vh;
    }
   
 }

.main-header {
    background-color: var(--primary);
    padding: .8rem 1.6rem;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 15rem);
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.main-header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    font-family: "Dancing Script", monospace;
}

.main-nav__item:last-child {
    display: none;
}

@media (max-width: 600px) {
    .main-nav__item {
        display: none;
    }

    .main-nav__item:last-child {
        display: block;
    }

    .responsive .main-nav__item {
        display: block;
        text-align: left;
        margin: 1rem 0;
    }

    .responsive .main-nav__item:last-child {
        position: absolute;
        right: 0px;
        top: -10px;
    }

    .responsive .main-nav {
        display: block;
    }
    .fa-bars
    {
        position: absolute;
        right: 27px;
        top: 28px; 
    }
   
}




.main-nav__item a {
    text-decoration: none;
    color: #fff;
}

.main-nav__item a:hover, .main-nav__item:hover::before {
    color: var(--navy);
}      

.main-nav__item:active::before, .main-nav__item a:active {
    color: #fff;
}

#how-it-works { 
    padding: 1rem;
    text-align: center;
}


.icon-box h3 {
    color: #3e4555;
    font-size: 2.5rem;
}
span
{
   
  
   padding: 10px;
   margin-bottom: 10px;
    visibility: hidden;
}
i:hover ~ span, h3:hover ~ span, p:hover + span
{
   visibility: visible;
}
span.sinop-resim
{
   padding: 10px;
   margin-bottom: 10px;
    display: none;
}
i:hover ~ span.sinop-resim, h3:hover ~ span.sinop-resim, p:hover + span.sinop-resim
{
   display: block;
}
span.sinop-resim img
{
    width: 100%;
    height: 100%;
    clip-path: circle(50% at 50% 50%);
    background-size: cover;
}

.icon-box i {
    color: var(--primary);
}

.features__left {
    background: 
    linear-gradient(to bottom, rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)),
    url('../images/sinop.jpg');
    background-size: cover;
    background-position: top center;
}
.sinop__left {
    background: 
    linear-gradient(to bottom, rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)),
    url('../images/halkoyunlari.jpg');
    background-size: cover;
    background-position: top center;
}

.features__right {
    background-color: var(--second);
    padding: 3rem;
    vertical-align: top;
}

.features__left, .sinop__left,
.features__right {
    height: 35rem;
}

.features__right h3 {
    font-size: 3rem;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--footer);
    font-size: 3rem;
    margin-top: 7rem;
}
@media (max-width: 576px) { 

    .section-title {
        margin-top: 15rem;
        font-size: 2.2rem;

        }
         table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px 16px 5px 48px;
      }
      table 
      {
        margin-left: 0px;
      }
      .icon-box h3~p {
    color: #3e4555;
    font-size: 1.5rem;
}
.col-2-sinop 
    {
        margin-left: -7px;
    }
    .row {
        margin-top: 130px;
  
        }
                    }   
.sinop-title {
    margin-left: 45%;
    margin-bottom: 3rem;
    color: var(--footer);
    font-size: 3rem;
    margin-top: 7rem;
}
h2.sinop , h2.sinop~h3 
{
    text-align: left;
}
h2.sinop ~ p 
{
    text-align: left;
}


.plan {           
    
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

.plan__badge {
    background: #fff;
    color: var(--footer);
    padding: 8px;
    border-radius: 5px;
}

.recommended_plan {
    color: #fff;
    background: var(--footer)!important;
}

.inner-plan {
    background: #edf5f7;
    padding: 25px 10px;
    border-radius: 5px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    transition: box-shadow .6s;
}

.inner-plan:hover {
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.5);
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}


@media (min-width: 768px) {
    .plan--featured {
        position: relative;
        top: -20px;
    }    
}

.plan__features li {
    margin: 6px 0;
}

#backtotop {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#backtotop i {
    color: var(--navy);
    font-size: 45px;
    transition: color .6s;
}

#backtotop i:hover {
    color:var(--navy);
}

.counter {
    background: linear-gradient(to bottom, var(--second) 0%, #8f9391 100%);
    text-align: center;
    padding: 50px;
}

.counter__item {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.counter h4 {
    margin: 0;
    color: #fff;
}

.card-container {
    padding: 10px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(52,58,64,0.1);
    transition: all .3s;
}
.card:hover {
    transform: translateY(-10px);
}

.card-image {
    max-height: 500px;
}
.card-image.sinop {
    max-height: 320px;
    
}
.card-body_sinop h2
{
    text-align: center;
    padding: 30px;
}

.card-body {
    padding: 30px;
}

footer {
    background-color: var(--footer);
    padding: 30px;
}

footer a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

#social-links {
    text-align: right;
}

.fab, .fab, .far {
    padding: 10px;
    border-radius: 50%;
}

.fab:hover {
   opacity: 0.7;
}

.fa-facebook {
    background-color: #3B5998;
    color: #fff;
}

.fa-twitter {
    background-color: #55ACEE;
    color: #fff;
}

.fa-instagram {
    background-color: #125688;
    color: #fff;
}
.english
{
    display: inline-block;
    margin: 0;
    margin-right: 20px;
}
.righteducation
{
    padding: 15px 20px 15px 30px ;
}
.righteducation h3
{
font-size: 2rem;
margin: 0;
}
.righteducation h4
{
    margin: 7;
font-size: 1.5rem;
}
 
.istecrube
{
   
    text-decoration: none;
    padding-right: 5px ;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 60px 5px 60px;
  }
 table 
 {
     margin-left: 310px;
 }
 @media (max-width: 576px) { 
         table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px 16px 5px 37px;
      }
      table 
      {
        margin-left: 0px;
      }
      .icon-box h3~p {
    color: #3e4555;
    font-size: 1.5rem;
}
.col-2-sinop 
    {
        margin-left: -7px;
    }
    .row {
        margin-top: 130px;
  
        }
                    }   

